<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link navbar-dark" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-dark" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-dark" href="/bugs">Bugs</a>
      </li>
      <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdown" role
="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Other Sites
 </a>
 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
 <a class="dropdown-item" href="https://www.gvsu.edu">GVSU</a>
 <a class="dropdown-item" href="https://www.cis.gvsu.edu">CIS</a>
 <div class="dropdown-divider"></div>
 <a class="dropdown-item" href="https://www.google.com/">Google</a>
 </div>
 </li>
    </ul>
  </div>
</nav>
